{% extends "base_layout.html" %}

{% from "_formhelpers.html" import render_field %}

{% block title %} New Product {% endblock %}

{% block content %}
  <div class="container mt-4">
    <h3>Create a New Product</h3>
    <form method="POST" class="mt-3">

        {{ form.csrf_token }}
        <div class="row">
            <div class="col-md-6">
                {{ render_field(form.name) }}
            </div>
            <div class="col-md-6">
                {{ render_field(form.price, placeholder="5.00") }}
            </div>
        </div>
        {{ render_field(form.description) }}
        {{ render_field(form.picture_url, placeholder="https://example.com/image.png") }}

        <button type="submit" class="btn btn-primary mt-3">Create Product</button>
    </form>
  </div>
{% endblock %}
