{% from "_macros.html" import render_flashes %}

<html lang="en">
<head>
    <title>{% block title %}{% endblock %} Yumroad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous"> -->
    {% assets "common_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
    {% assets "common_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('landing.index') }}">Yumroad</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ current_user.email }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userDropdown">
                            
                            
                            <a class="dropdown-item" href="{{ url_for('user.logout') }}">Logout</a>
                        </div>
                    </div>
                {% else %}
                    <a class="nav-link" href="{{ url_for('user.login') }}">Login</a>
                    <a class="nav-link" href="{{ url_for('user.register') }}">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>
    

    <div class="container mt-3">
        {{ render_flashes() }}
        {% block content %}{% endblock %}
    </div>

    <!-- Add these links before the closing </body> tag -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
