<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 col-xs-12 feature-block text-center mb-4">
            <i class="fas fa-credit-card feature-icon fa-3x"></i>
            <div class="feature-text-block">
                <h4 class="feature-heading mb-3">Secure Payments</h4>
                <p class="features-text-block">
                    Yumroad ensures secure transactions with Stripe Checkout for hassle-free credit card payments worldwide.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 feature-block text-center mb-4">
            <i class="fas fa-dollar-sign feature-icon fa-3x"></i>
            <div class="feature-text-block">
                <h4 class="feature-heading mb-3">Free Plan</h4>
                <p class="features-text-block">
                    Enjoy the benefits of Yumroad's free plan, providing an affordable solution for store owners to kickstart their online business.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 feature-block text-center mb-4">
            <i class="fas fa-cloud feature-icon fa-3x"></i>
            <div class="feature-text-block">
                <h4 class="feature-heading mb-3">API <span class="badge badge-warning">Coming Soon</span></h4>
                <p class="features-text-block">
                    Unlock new possibilities with our upcoming API feature, empowering you to seamlessly integrate and manage products on your own site.
                </p>
            </div>
        </div>
    </div>
</div>
